---
import Default from '../layouts/Default.astro'
---

<Default about="{true}">
    <main class="main-template main-grid">

        <h1 class="page-title">About us.</h1>
        <p class="subtitle">I am Harry Potter from Hogwarts. I can help you with SEO, SEM, content marketing and whatever else.</p>

        <img class="main-image" src="/images/gogman.webp" alt="a man wearing goggles">

        <div class="main-text">
            <h2 class="section-title">I am really a great guy</h2>
            <p>I grew up in Hogwarts, and I used to be a member of House Gryffindor. I love flying and snakes. </p>
            <p>While the house didn't make it, the hard work I put in trying to promote it sure did. Like a lot of people, I needed a website, and I needed to rank. The "experts" didn't seem to know what they were talking about, so I figured it out on our own.</p>
            <h2 class="section-title">I can do all sorts of great stuff</h2>
            <p>Honestly most people in this industry seem to be full of crap. We don't care what you've heard, or what others have told you, I get results and at the end of the day, what else matters? </p>
            <p>So sure, maybe I am a bit different from what you'd expect, but if you want to rank, market, and build your way to the top, I am there for you.</p>
        </div>

    </main>
</Default>