---
import Default from '../layouts/Default.astro'
---

<Default contact={true}>
    <main class="main-template main-grid">

        <h1 class="page-title">Contact.</h1>
        <p class="subtitle">Let us know how we can help you need and we’ll drive over to your place in our Bluesmobile
            the following day to discuss the deal.</p>

        <img class="main-image" src="images/contact.jpg" alt="a bunch of mailboxes">
        <div class="secondary-text">
            <h2 class="section-title">Getting in touch with us</h2>
            <p>You can either use the form or send us an email. I'll get back in touch with you as soon as possible!</p>
        </div>

        <div class="main-text">
            <form class="contact-form" action="#" method="POST">

                <label class="fname-label" for="fname">First Name</label>
                <input class="fname-input" id="fname" type="text">

                <label class="lname-label" for="lname">Last Name</label>
                <input class="lname-input" id="lname" type="text">

                <label class="message-label" for="message">Message</label>
                <textarea class="message-textarea" id="message"></textarea>

                <button class="btn btn-primary btn-form">send</button>
            </form>
        </div>
    </main>

</Default>