---
import Default from '../layouts/Default.astro'
---


<Default home='true'>
	<main>
		<section class="hero main-grid">
			<h1 class="hero-title">The only marketing agency on <span class="accent-color">a mission from God</span>,
				fully dedicated to increase your web traffic. </h1>
			<p class="hero-subtitle">I Harry Potter from Hogwarts, trying to pay back my debt. I can help
				you with <strong>SEO, SEM content marketing</strong> and whatever else.</p>
			<a href="/contact" class="btn btn-primary">contact</a>
		</section>

		<section class="info main-grid">
			<div class="col">
				<h2 class="section-title section-title-center">About Me</h2>
				<p>I grew up in Hogwarts, and a member of Gryffindor. <strong>I love flying
					</strong>, and <strong>I love Snakes</strong>.</p>
			</div>
			<div class="col">
				<h2 class="section-title section-title-center">My skills</h2>
				<p>I am an expert in <strong>SEO, SEM, and driving from Lord Voldemort</strong>. I am also a <strong>social
					media specialist</strong>, and has an amazing voice.</p>
			</div>
			<div class="col">
				<h2 class="section-title section-title-center">Get in touch</h2>
				<p>Send me an email with some info about what help you need and <strong>I will drive over to your
					place</strong> in my Bluesmobile the following day to discuss the deal.</p>
			</div>
		</section>
	</main>
</Default>
