---

---

<footer class="footer main-grid">
    <div class="footer-main">
        <img src="logo/H&M Marketing.png" alt="" class="footer-logo">
        <p class="footer-text">Harry potter from Hogwarts, just trying to pay back his debt by helping others with their SEO, SEM, and Content Marketing needs.</p>
        <p class="footer-fineprint">© Ryugu Studio</p>
    </div>
    <ul class="social-list">
        <li class="social-item"><a href="#" class="social-link"><i class="fab fa-facebook-square"></i></a></li>
        <li class="social-item"><a href="#" class="social-link"><i class="fab fa-twitter"></i></a></li>
        <li class="social-item"><a href="#" class="social-link"><i class="fab fa-instagram"></i></a></li>
    </ul>
</footer>